<!-- layouts:/header -->
<%- include('../layouts/header.ejs') %>
  <style>
    body#kt_app_body {
      overflow-y: hidden !important;
    }
  </style>
  <!--begin::Root-->
  <div class="d-flex flex-column flex-root" id="kt_app_root">

    <div class="d-flex flex-column flex-lg-row flex-column-fluid">
      <div class="d-flex flex-column flex-lg-row-fluid py-10">
        <!--begin::Content-->
        <div class="d-flex flex-center flex-column flex-column-fluid">
          <div class="text-center mb-10">
            <img src="https://etatdeslieux.jatai.fr/api/uploads/logo-bgless.png" class="logo" alt="Logo"
              style="width:300px;height:90px; object-fit: contain;">
          </div>
          <div class="card">
            <div class="w-lg-600px p-10 p-lg-15 mx-auto">
              <form class="form w-100" method="post">

                <div class="text-center mb-10">
                  <div class="symbol symbol-50px symbol-circle user-select-none">
                    <div style="background-color: #f38d0741;" class="symbol-label "><i class="ki-solid ki-file"
                        style="color: #F38B07; font-size: 30px;"></i>
                    </div>
                  </div>
                </div>
                <div class="text-center mb-10">
                  <h1 class="text-center mb-3" style="font-weight: 500;">Lien non valide</h1>
                </div>
                <!--end::Actions-->
              </form>
              <!--end::Form-->
            </div>
            <!--end::Wrapper-->
          </div>
        </div>
        <!--end::Content-->

      </div>
      <!--end::Body-->
    </div>
    <!--end::Authentication - Sign-in-->
  </div>
  <!--end::Root-->


  <!-- layouts:/footer -->
  <%- include('../layouts/footer.ejs') %>